<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include "metadata.html" %}
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/log_in.css">


  </head>
  <body>
    <!-- Body -->
    <div  id ="bg-img">
      <div class="">
        <a class="btn-home" href="{{url_for('index')}}">Food for thought</a>
      </div>
      <!-- thông báo lỗi đăng nhập  -->
      <div class="">
        {% with messages = get_flashed_messages()%}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <!-- Form đăng nhập -->
      <div class="d-flex flex-column align-items-center">
        <div class="w-30 mt-5">
          <form class="" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password"  name="password" placeholder="Password"  required>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>

    </div>
    <!-- Footer -->
    <div class ="bg-dark h-50px">
        <p id ="footer-text" class ="text-center">SheCodes Hackathon 2018</p>
    </div>


  </body>
</html>
