<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Topic</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/topic.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <div class="">
      <div class="bg-image">
        <!-- logo -->
        <div>
        <div id="header" class="d-flex pt-0">
          <p class="btn justify-content-end pl-5 home-button"> <a class="btn-home" href="{{ url_for('index')}}">Food for thought</a> </p>

          <div id="navbar" class="d-flex justify-content-end">
            {% if session.logged_in %}
              {% if session.username == 'admin'%}
                <p class="btn d-flex justify-xcontent-end"><a class="text-muted" href="{{ url_for('admin')}}">Admin</a> </p>
              {%else%}
                <p class="btn d-flex justify-content-end"><a class="text-muted" href="{{ url_for('user', username = session.username) }}">User Profile</a> </p>
              {% endif %}
              <p class="btn "><a class="text-muted" href="{{ url_for('log_out') }}">Log out</a> </p>
            {% else %}
              <p class="btn "><a class="text-muted" href="{{ url_for('sign_up') }}">Sign up</a> </p>
              <p class="btn "><a class="text-muted" href="{{ url_for('log_in') }}">Log in</a> </p>
            {% endif %}
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <h3>{{topic.question}}</h3>
    </div>
  </div>
</div>
    <!-- Body -->
    <div class="">
      <div class="d-flex justify-content-center mt-5">
      <div  class="card d-flex justify-content-around" style="width: 30rem;">
        <img class ="" style="height:200px" src="data:image/jpg;base64,{{topic.image}}" alt="">

        <div class="d-flex ">
          <div class="card-text  border border-success w-50 text-center">  <p> Yes: {{topic.votes_yes}}</p></div>
          <div class="card-text border border-danger w-50 text-center"> <p> No: {{topic.votes_no}}</p></div>
        </div>

      </div>


      </div>


      <div class="d-flex justify-content-around flex-wrap my-3">
        {% for vote in votes%}
        {% if vote.answer != None %}
        <div  class="card d-flex justify-content-around" style="width: 18rem;">
           Người chọn: {{vote.user}}
          <div class="d-flex ">
            {% if vote.vote_yes %}
            <div class="card-text  border border-success w-25 text-center"> <p> Yes</p></div>
            {%else%}
            <div class="card-text  border border-danger w-25 text-center"> <p> No</p></div>
            {%endif%}
          </div>
          <div class="">
            <p>
            <!-- {%if vote.answer != None%} -->
            {{vote.answer}}
            <!-- {%endif%} -->
            </p>
            {% if vote.reported %}
            <a href="#">Reported</a>

            {% else %}
            <a href="{{ url_for('report_vote',vote_id = vote.id)}}">Report</a>
            {% endif %}

          </div>

        </div>
        {% endif %}


        {% endfor %}
      </div>

      {% if  session.logged_in%}

      <div class="d-flex justify-content-center my-5">
        <form class="" method="post">
          {% if session.username not in topic.users_voted%}
          <label>Yes</label>
          <input type="radio" name="choice" value="yes">

          <label>No</label>
          <input type="radio" name="choice" value="no">
          {% endif %}

          <input type="text" name="answer" >

          <input type="submit"  value="Vote">

        </form>

      </div>

      {% endif %}


    </div>
    <!-- Footer -->
    <div class ="bg-dark h-50px">
            <p id ="footer-text" class ="text-center">SheCodes Hackathon 2018</p>
        </div>






  </body>
</html>
