<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Topic</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/topic.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <div class="">
      <div class="bg-image">
        <!-- logo -->
        <div>
        <div id="header" class="d-flex pt-0">
          <p class="btn justify-content-end pl-5 home-button"> <a class="btn-home" href="{{ url_for('index')}}">Food for thought</a> </p>

          <div id="navbar" class="d-flex justify-content-end">
            {% if session.logged_in %}
              {% if session.username == 'admin'%}
                <p class="btn d-flex justify-xcontent-end"><a class="text-muted" href="{{ url_for('admin')}}">Admin</a> </p>
              {%else%}
                <p class="btn d-flex justify-content-end"><a class="text-muted" href="{{ url_for('user', username = session.username) }}">User Profile</a> </p>
              {% endif %}
              <p class="btn "><a class="text-muted" href="{{ url_for('log_out') }}">Log out</a> </p>
            {% else %}
              <p class="btn "><a class="text-muted" href="{{ url_for('sign_up') }}">Sign up</a> </p>
              <p class="btn "><a class="text-muted" href="{{ url_for('log_in') }}">Log in</a> </p>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
    <!-- Body -->
    <div class="">
      <div class="">
        {{topic.question}}
      </div>

      <div class="">
        {{topic.group}}
        {{topic.author}}
      </div>
      <div class="">
          <img class ="" style="width:200px;height:200px" src="data:image/jpg;base64,{{topic.image}}" alt="">
      </div>
      <div class="">
        <label>yes</label>
        {{topic.votes_yes}}
        <label>No</label>
        {{topic.votes_no}}
      </div>

      <div class="">
        {% for vote in votes%}
        <div class="">
          {{vote.user}}
           <br>
          {% if vote.vote_yes %}
            <label>Yes</label>
          {%else%}
            <label>No</label>
          {%endif%}
          <br>
          {%if vote.answer != None%}
          {{vote.answer}}
          {%endif%}

          {% if vote.reported %}
          <a href="#">Reported</a>

          {% else %}
          <a href="{{ url_for('report_vote',vote_id = vote.id)}}">Report</a>
          {% endif %}

        </div>
        {% endfor %}
      </div>

      {% if  session.logged_in%}

      <div class="">
        <form class="" method="post">
          {% if session.username not in topic.users_voted%}
          <label>Yes</label>
          <input type="radio" name="choice" value="yes">

          <label>No</label>
          <input type="radio" name="choice" value="no">
          {% endif %}

          <input type="text" name="answer" >

          <input type="submit"  value="Vote">

        </form>

      </div>

      {% endif %}


    </div>
    <!-- Footer -->
    <div class="">

    </div>






  </body>
</html>
