<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/user.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>
  <body>
    <!-- header -->
    <div id ="bg-img">
      <div class="">
        <a class="btn-home" href="{{url_for('index')}}">Food for thought</a>
      </div>
    </div>
    <!-- thông báo -->
    <div class="">
      {% with messages = get_flashed_messages()%}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    <!-- body-->
    <div class="d-flex flex-column justify-content-around align-center">
      <!-- Nút tạo topic mới -->
      <div class="d-flex justify-content-center my-3">
        <button type="button"><a href="{{ url_for('new_topic')}}">Tạo topic mới</a> </button>
      </div>
      <!-- Các topic đã tạo -->
      <div class="my-2">
        <p class="text-center">Các topic đã tạo</p>
        <div class="d-flex justify-content-around flex-wrap">
          {% for topic in topics %}
          <div class="">
            <a href="{{url_for('topic',topic_id = topic.id)}}">{{topic.question}}</a>
            <div class="">
                <img class ="" style="width:200px;height:200px" src="data:image/jpg;base64,{{topic.image}}" alt="">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Các vote đã vote -->
      <div class="my-2">
        <p class="text-center">Các topic đã vote</p>
        <div class="d-flex justify-content-around flex-wrap">
          {% for vote in votes%}
          <div class="">
            <a href="{{ url_for('topic', topic_id=vote.topic.id)}}">{{vote.topic.question}} </a>
            <div class="">
                <img class ="" style="width:200px;height:200px" src="data:image/jpg;base64,{{vote.topic.image}}" alt="">
            </div>
            {% if vote.vote_yes %}
            <p>Lựa chọn: Yes</p>
            {%else%}
            <p>Lựa chọn: No</p>
            {% endif %}
          </div>
          {% endfor %}

        </div>
      </div>

    </div>

    <!-- footer -->
    <div class="">

    </div>

  </body>
</html>
